
  #home{
      background-image: url("../images/med1.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      height:95vh;
      }
      .homeoverlay{
      background-color:transparent;
      }
      .landoverlay{
      background-color:transparent;
      }
      nav ul{
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color:rgba(173, 105, 16, 0.829);
        }
        nav{
          position:fixed;
          /* float: right; */
          padding-left: 70%;
        }
        
        li {
          float: right;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color:rgb(238, 57, 57);
        }
        #about{
            background-clip: content-box;
        }
        #intro{
            background-image: url("../images/doc.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            height:95vh;
            }
            .homeoverlay{
            background-color:transparent;
            }
        #DOC3{
          background-image: url("../images/med3.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          height:95vh;
          font-style: normal;
          color: azure;
        }
        #pet{
          background-color: beige;
        }